.row
  .large-12.columns
    %h2
      Hi, thank you for visiting C3SV.
    %h3
      Please leave your details so we can get connected.

%form
  .row
    .large-6.columns
      %label
        First Name
        %input{:type => "text"}/
    .large-6.columns
      %label
        Last Name
        %input{:type => "text"}/
  .row
    .large-6.columns
      %label
        Email
        %input{:type => "text"}/
    .large-6.columns
      %label
        Phone
        %input{:type => "text"}/

  .row.referral-types
    .large-4.columns
      %label
        How did you hear about us?
        %select
          %option{:value => "husker", 'data-id' => 'friend'} Friend
          %option{:value => "husker"} Yelp
          %option{:value => "husker"} Facebook
          %option{:value => "husker"} Billboard
          %option{:value => "husker"} Mailer
          %option{:value => "husker"} Google Search
          %option{:value => "husker"} Google Ads
          %option{:value => "husker", 'data-id' => 'other'} Other:
  .row.friends-name
    .large-6.columns
      %label
        Friend's name?
        %input{:type => "text"}/
  .row.other-text-field.hide
    .large-6.columns
      %label
        Describe?
        %input{:type => "text"}/

  .row
    .large-6.columns
      %label
        How can we help?
        %select
          %option{:value => "husker"} I am looking for a home church, please plug me in.
          %option{:value => "husker"} I am still church shopping, but keep me informed.
          %option{:value => "husker"} Just visiting friends and family, no need to follow up, thanks!

  .row
    .large-6.columns
      %input#checkbox1{:type => "checkbox", checked: 'checked'}/
      %label Yes, connect with me over social media.

  .row
    .large-12.columns
      %input{:type => "submit", value: 'Get Connected', class: 'button'}/

- content_for :foot do
  :javascript
    $(function() {
      $('.referral-types select').change(function() {
        var selected = $(this).children(':selected').data('id');

        if (selected != 'friend' ) {
          $('.friends-name').hide();

          if (selected == 'other') {
            $('.other-text-field').show();
          }
        } else {
          $('.other-text-field').hide();
          $('.friends-name').show();
        }
      });
    });
